unpackaged/main/default/flows/Create_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Checklist_OLI_to_Collection</name>
        <label>Add Checklist OLI to Collection</label>
        <locationX>1012</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>ChecklistOLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity_Product_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Product_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Opportunity_Line_Item_Fields</name>
        <label>Copy Opportunity Line Item Fields</label>
        <locationX>1251</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Product_Loop.Master_Scheduler_Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventChecklistID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Checklist_OLI_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opportunity_Record_Type_Decision</name>
        <label>Opportunity Record Type Decision</label>
        <locationX>554</locationX>
        <locationY>739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Corporate_or_Government</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Government</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event_Checklist</targetReference>
            </connector>
            <label>Corporate or Government</label>
        </rules>
        <rules>
            <name>Brick_and_Mortar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brick and Mortar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Brick_and_Mortar_Checklist</targetReference>
            </connector>
            <label>Brick and Mortar</label>
        </rules>
    </decisions>
    <description>Creates master scheduler checklist records from opportunities</description>
    <interviewLabel>Create Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Checklist</label>
    <loops>
        <name>Opportunity_Product_Loop</name>
        <label>Opportunity Product Loop</label>
        <locationX>1121</locationX>
        <locationY>358</locationY>
        <collectionReference>Get_Opp_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_Opportunity_Line_Item_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Checklist_to_OLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Brick_and_Mortar_Checklist</name>
        <label>Create Brick and Mortar Checklist</label>
        <locationX>847</locationX>
        <locationY>711</locationY>
        <assignRecordIdToReference>EventChecklistID</assignRecordIdToReference>
        <connector>
            <targetReference>Opportunity_Product_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Antibody_Antigen_or_Both__c</field>
            <value>
                <elementReference>Get_Opportunity.Antibody_Antigen_or_Both__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Account__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Phone__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Zip__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Opportunity.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_they_need_PPE__c</field>
            <value>
                <elementReference>Get_Opportunity.Do_they_need_PPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Get_Opportunity.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Get_Opportunity.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_many__c</field>
            <value>
                <elementReference>Get_Opportunity.How_many__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_many_people_being_trained__c</field>
            <value>
                <elementReference>Get_Opportunity.How_many_people_being_trained__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indoor_or_Outdoor__c</field>
            <value>
                <elementReference>Get_Opportunity.Indoor_or_Outdoor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Get_Opportunity.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Owner__c</field>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Master_Scheduler.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Get_Opportunity.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Point_of_Contact__c</field>
            <value>
                <elementReference>Get_Opportunity.Point_of_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_brick_and_Mortar_Checklist_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Get_Opportunity.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Get_Opportunity.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Checklist Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Address__c</field>
            <value>
                <elementReference>Get_Opportunity.Street_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>Get_Opportunity.Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Master_Scheduler_Checklist__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_Checklist</name>
        <label>Create Event Checklist</label>
        <locationX>559</locationX>
        <locationY>525</locationY>
        <assignRecordIdToReference>EventChecklistID</assignRecordIdToReference>
        <connector>
            <targetReference>Opportunity_Product_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Access_to_run_power_supply_in_and_out__c</field>
            <value>
                <elementReference>Get_Opportunity.Access_to_run_power_supply_in_and_out__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Account__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Phone__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Zip__c</field>
            <value>
                <elementReference>Get_Opportunity.Billing_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Opportunity.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time__c</field>
            <value>
                <elementReference>Get_Opportunity.Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_they_have_WIFI_in_and_out__c</field>
            <value>
                <elementReference>Get_Opportunity.Do_they_have_WIFI_in_and_out__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_they_have_tables_and_chairs__c</field>
            <value>
                <elementReference>Get_Opportunity.Do_they_have_tables_and_chairs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_they_have_tents_if_outside__c</field>
            <value>
                <elementReference>Get_Opportunity.Do_they_have_tents_if_outside__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drive_through_testing__c</field>
            <value>
                <elementReference>Get_Opportunity.Drive_through_testing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Electrical_Supply_Dental__c</field>
            <value>
                <elementReference>Get_Opportunity.Electrical_Supply_Dental__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Get_Opportunity.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_Many_Employees__c</field>
            <value>
                <elementReference>Get_Opportunity.How_Many_Employees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indoor_or_Outdoor__c</field>
            <value>
                <elementReference>Get_Opportunity.Indoor_or_Outdoor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_parking_lot_shared__c</field>
            <value>
                <elementReference>Get_Opportunity.Is_parking_lot_shared__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Unit__c</field>
            <value>
                <elementReference>Get_Opportunity.Mobile_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Get_Opportunity.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Owner__c</field>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Master_Scheduler.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Get_Opportunity.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Point_of_Contact__c</field>
            <value>
                <elementReference>Get_Opportunity.Point_of_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Language__c</field>
            <value>
                <elementReference>Get_Opportunity.Primary_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Event_Checklist_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Self_registered_or_Link_push_for_Link__c</field>
            <value>
                <elementReference>Get_Opportunity.Self_registered_or_Link_push_for_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Size_of_Space__c</field>
            <value>
                <elementReference>Get_Opportunity.Size_of_Space__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Get_Opportunity.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Checklist Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Address__c</field>
            <value>
                <elementReference>Get_Opportunity.Street_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Water_Supply__c</field>
            <value>
                <elementReference>Get_Opportunity.Water_Supply__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_Tests__c</field>
            <value>
                <elementReference>Get_Opportunity.Which_Tests__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>Get_Opportunity.Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Master_Scheduler_Checklist__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_brick_and_Mortar_Checklist_Record_Type</name>
        <label>Get Brick and Mortar Checklist Record Type</label>
        <locationX>175</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Master_Scheduler</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Brick and Mortar Checklist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Checklist_Record_Type</name>
        <label>Get Event Checklist Record Type</label>
        <locationX>176</locationX>
        <locationY>558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_brick_and_Mortar_Checklist_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event Checklist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Master_Scheduler</name>
        <label>Get Master Scheduler</label>
        <locationX>370</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Record_Type_Decision</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>chris.donovan@medbar.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Event_Checklist_Record_Type</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Products</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Checklist_to_OLI</name>
        <label>Add Checklist to OLI</label>
        <locationX>1118</locationX>
        <locationY>166</locationY>
        <inputReference>ChecklistOLIs</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChecklistOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ChecklistOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>EventChecklistID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
